@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway&family=Roboto:wght@300&display=swap');

//font
$font-base: 'Raleway', sans-serif;
$font-secondary: 'Playfair Display', sans-serif;
$font-benefits: 'Roboto', sans-serif;

//template
%form-input {
    padding: 16px;
    width: 255px;
    background-color: rgba($color: #fff, $alpha: .2);

    &::placeholder {
        text-align: center;
        color: rgba($color: #fff, $alpha: .5);
    }
}
%form-button {
    padding: 12px 54px;
    font-weight: 700;
    line-height: 1.7;
    background-color: $accent;
}

%title {
    color: $accent;
    font-size: 36px;
    font-family: $font-secondary;
    font-weight: 700;
    line-height: 1.3;
}
//HTML
body {
    background-color: $bg-fon;
    font-family: $font-base;
    font-size: 16px;
    color: $white;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
}

.visually-hidden {
    position: absolute;
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

form input {
    @extend %form-input;

    &:hover  {
        background-color: rgba($color: #ccc, $alpha: .4);
        transition: background-color .3s ease-in;
    }
}

form button {
    @extend %form-button;

    &:hover {
        background-color: rgba(193, 178, 126, .9);
        transition: background-color .3s ease-in;
    }
}

.none {
    display: none;
}

